!!!
%html{ :lang => "it" }
  %head
    %meta{ :charset => "UTF-8" }
    %title= @title
    %link{ :rel => "stylesheet", :href => "/css/reset.css" }
    %link{ :rel => "stylesheet", :href => "/css/screen.css" }
  %body
    #wrapper
      #header.row
        .column.grid_12
          %h1= @heading
          %h2= @subtitle
          - display_menu(@menu_items, :class => "top_nav", :levels => 1)
      #main.row
        .column.grid_8
          = yield
        .column.grid_4
          = haml :sidebar
      #footer.row
        .column.grid_12
          %p= "Copyright Giustino Borzacchiello"
    
